<!-- page for single interaction info -->

<h2>
Interaction Information
<a class="right" href="/interactions"><button>All Interactions</button></a>
<form class="delete" method="POST" action="/interactions/<%= @current_interaction[:id] %>/destroy"><button>Delete Interaction</button></form>
</h2>

<h3>Date</h3>
  <p><%= @current_interaction[:date] %></p>
<h3>Name</h3>
  <p><%= @current_interaction[:client_full] %></p>
<h3>Type</h3>
  <p><%= @current_interaction[:type] %></p>
<h3>Comments</h3>
  <p><%= @current_interaction[:comments] %></p>

